.container {
  height: 100%;
  padding: 30px;
}

.settings-container {
  background-color: #fff;
  border-radius: 10px;
}

.settings-container {
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin: 0;
}

.buttons-container {
  display: flex;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 86px;
  height: 40px;
  font-family: "Inter";
  font-weight: 300;
}

.white-button {
  background-color: #fff;
  color: #1e5eff;
  border: 1px solid #d7dbec;
  width: fit-content;
}
.white-button:hover {
  opacity: 0.8;
}
.blue-button {
  background-color: #1e5eff;
  color: #fff;
}
.blue-button:hover {
  background-color: #0f4de8;
}

::ng-deep .mat-mdc-tab-labels {
  width: 40%;
}
::ng-deep .navigation-container .navigation-tab {
  padding: 0;
}

::ng-deep .navigation-container .navigation-tab span.mdc-tab__text-label {
  font-family: "Inter";
  font-weight: 400;
  color: #5a607f;
  letter-spacing: 0px;
}

::ng-deep .navigation-container .navigation-tab:hover span.mdc-tab__text-label,
::ng-deep .navigation-container .navigation-tab:focus span.mdc-tab__text-label {
  color: #1e5eff;
}

::ng-deep
  .navigation-container
  .navigation-tab.mat-mdc-tab
  .mdc-tab-indicator__content--underline,
::ng-deep
  .navigation-container
  .navigation-tab.mat-mdc-tab
  .mdc-tab-indicator__content--underline:focus {
  border-color: #1e5eff;
}

.profile-details {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.profile-details h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}

.text-grey {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
}

label {
  display: inline-block;
}

.file-uploader-container {
  height: 150px;
  border: 1px dashed #d7dbec;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-pair {
  width: 48%;
  margin-bottom: 10px;
}

.input-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d7dbec;
  border-radius: 5px;
}

.separator {
  height: 1px;
  background-color: #e6e9f4;
  margin: 25px 0;
}

.right {
  justify-content: end;
  padding-bottom: 30px;
}

.regional-settings h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}

.select-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.select-form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d7dbec;
  border-radius: 5px;
}

.separator-select {
  height: 1px;
  background-color: #d7dbec;
  margin: 25px 0;
}
