<div class="container">
  <div class="flex-container">
    <h2>Settings</h2>
    <div class="buttons-container">
      <button class="white-button">Cancel</button>
      <button class="blue-button">Save</button>
    </div>
  </div>
  <div class="settings-container">
    <div class="card-container">
      <mat-tab-group class="navigation-container" animationDuration="20ms">
        <mat-tab labelClass="navigation-tab" label="Profile">
          <div class="profile-details">
            <h3>Profile Details</h3>
            <p class="text-grey">Enter your profile information</p>
          </div>

          <div>
            <p class="text-grey">Profile Image</p>
            <div class="file-uploader-container">
              <button class="white-button">Add File</button>
              <p class="text-grey">Or drag and drop files</p>
            </div>
          </div>

          <div class="input-form">
            <div class="input-pair">
              <label for="firstName" class="text-grey">First Name</label>
              <input type="text" id="firstName" />
            </div>

            <div class="input-pair">
              <label for="lastName" class="text-grey">Last Name</label>
              <input type="text" id="lastName" />
            </div>

            <div class="input-pair">
              <label for="email" class="text-grey">Email</label>
              <input type="email" id="email" />
            </div>

            <div class="input-pair">
              <label for="phoneNumber" class="text-grey">Phone Number</label>
              <input type="tel" id="phoneNumber" />
            </div>
          </div>

          <div class="separator"></div>

          <div class="regional-settings">
            <h3>Regional Settings</h3>
            <p class="text-grey">Set your language and timezone</p>
          </div>
        </mat-tab>
        <mat-tab labelClass="navigation-tab" label="Notifications"
          >Notifications Content</mat-tab
        >
        <mat-tab labelClass="navigation-tab" label="Account"
          >Account Content</mat-tab
        >
        <mat-tab labelClass="navigation-tab" label="Security"
          >Security Content</mat-tab
        >
      </mat-tab-group>

      <div class="select-form">
        <div class="input-pair">
          <label for="language" class="text-grey">Language</label>
          <select id="language">
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
          </select>
        </div>

        <div class="input-pair">
          <label for="timezone" class="text-grey">Timezone</label>
          <select id="timezone">
            <option value="gmt-02">GMT +02:00</option>
            <option value="utc-0">UTC+0</option>
            <option value="utc-1">UTC+1</option>
            <option value="utc-2">UTC+2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-select"></div>
  <div class="buttons-container right">
    <button class="white-button">Cancel</button>
    <button class="blue-button">Save</button>
  </div>
</div>
