<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <div
        *ngFor="let section of sidenavSections"
        class="sidenav-section"
        [ngClass]="{ 'separate-section': section.separate }"
        tabindex="0"
        (click)="onSectionClick(section)"
      >
        <div class="icon" [innerHTML]="section.icon"></div>
        <span
          [ngClass]="{ 'separate-label': section.separate }"
          class="sidenav-label"
          >{{ section.label }}
        </span>
        <div *ngIf="section.quantity > 0" class="custom-badge">
          {{ section.quantity }}
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="currentComponent">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
